@charset "utf-8";
html,body{
    margin: 0;
	padding: 0;
	overflow: hidden;
}
.bgbx {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	z-index: 1; /*aside팝업요소보다 아래 배치하기위해 1 지정*/ 
}
.bgbx article {
	flex: 1; 
	/*모든 article 요소의 너비를 동등하게 적용*/
	
}
figure{
	width: 100%;
	height: 100%;
	padding:0;
	margin: 0;
}
video{
    width: 100%;
    height: 100%;
	object-fit: cover;
}