@charset "utf-8";
/* 도깨비 PJ 핵심공통모듈 CSS - core.css */
/* 공통 class / 웹폰트 */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo&family=Noto+Serif+KR&family=Song+Myung&display=swap');

/* 
font-family: 'Jua', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Song Myung', serif;
*/



/* 속박스 class */
.ibx{
    max-width: 1200px;
    /* 최대가로크기 1200px이면
    이것보다 작아질 경우 auto로 자동전환됨!
    즉, 가로스크롤 안생김 */
    margin: 0 auto;
}

/* float설정 class */
.fll>li{
    float:left;
}
/* clear 설정 class */
.fll::after{
    content: '';
    display: block;
    clear: both;
}